:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$color-screeps-background: #1c1c1c;
$color-screeps-map: #2b2b2b;
$color-screeps-lab: #3b3b3b;
$color-screeps-energy: #fddc6a;
$color-screeps-mapArrow: #494949;
$color-screeps-rampart-middle: #354c35;
$color-screeps-rampart-edge: #438843;
$color-screeps-controller-dark: #5654d9;
$color-screeps-controller-light: #9997fa;

body {
  margin: 0;
}

#app {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.app-main {
  display: flex;
  height: 80vh;

  .sidebar {
    // flex-basis: 380px;
    border: 1px solid #333;
    border-top: none;
    border-left: none;
    padding: 20px;
    overflow-x: auto;
    overflow-y: auto;

    h2 {
      margin: 0;
    }

    table {
      font-size: 0.8em;

      tr td:nth-child(1) {
        text-align: right;
        padding-right: 10px;
        width: 150px;
        max-width: 150px;
        word-wrap: break-word;

        span.key-class {
          color: $color-screeps-controller-dark;
        }

        span.key-method {
          color: $color-screeps-controller-light;
        }
      }

      td {
        vertical-align: text-bottom;
      }

      tr:hover {
        cursor: pointer;

        td:not(:nth-child(1)) {
          // color: $color-screeps-controller-light;
          text-decoration: underline;
        }
      }
    }
  }

  .chart {
    overflow-x: auto;
    flex: 1;
    height: 80vh;
  }
}

#footer {
  height: 20vh;
  display: flex;
  text-align: left;

  & > div {
    flex: 1;
  }

  h2 {
    margin: 0;
  }

  #details-container {
    padding: 20px;

    #details-data {
      text-align: left;
    }
  }

  #controls-container {
    padding: 20px;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
